* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
}

nav {
    background-color: #EF7D19;
}

ul {
    display: flex;
    height: 100%;
    align-items: center;
}

nav ul li {
    padding-left: 16px;
    list-style-type: none;
}

main {
    background-color: blue;
}

div {
    background: orange;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
}

section {
    margin: 40px;
    padding: 20px;
    display: flex;
    gap: 10px;
}