* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #59378D;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
  color: #59378D;
}

main {
  width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  font-weight: 800;
  padding-bottom: 0px;
  padding-top: 30px;
}

h2 {
  font-size: 20px;
  font-weight: 800;
}

h3 {
  padding-bottom: 20px;
  font-size: 23px;
}

h1, h2, h3, p {
  color: white;
}

aside {
  margin: 0 30px;
  padding: 0 20px;
  padding-left: 70px;
  margin-bottom: 30px;
  color: white;
}

section {
  margin: 0 40px;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #59378D;
}

div {
  background: rgb(247, 148, 0);
  color: white;
  width: 300px !important;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  user-select: none;
  transform: translateY(0px);
  text-align: left;
  box-shadow: 0 0 10px #00000042;
  transition: transform 300ms, box-shadow 300ms;
}

div:hover {
  transform: translateY(-10px);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 0 0 10px #000000c9;
}

footer {
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 16px;
  justify-content: center;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 800;
  font-size: larger;
  position: fixed;
  bottom: 0;
  width: 100%;
}